<div class="py-14">
    <h1 class="font-patrick text-9xl text-center text-primary-900">Roaster Finder</h1>
    <h2 class="text-5xl text-center py-8 text-primary-600">Find the perfect cup near you!</h2>
    <div class="text-center py-8"><%= link_to "See All Roasters", roasters_path, class: "btn text-4xl" %></div>
</div>